<link rel="stylesheet" href="{{ features_css }}">
{% extends 'base.html' %}

{% block header %}
{% block title %}Features{% endblock %}
{% endblock %}

{% block content %}
<div class="burger_menu">
    <div class="burger">&#9776;</div>
    <div>Choose Feature</div>
    <div class="features_menu">{{ features_menu }}</div>
</div>
<div>{{ test_plot }}</div>
{{ bokeh_script }}
<script>
    function myFunction(x) {
    /*
    var dropdown = document.querySelector(".feature_dropdown");

    */
    var elem = x.innerText.split(". ")[1];
    console.log(Bokeh.documents[0]);
    var dropdown = Bokeh.documents[0].get_model_by_name("feature_dropdown");
    dropdown.value = elem;
    console.log(elem);
    console.log(dropdown);
    }
</script>
{% endblock %}
