<link rel="stylesheet" href="{{ overview_css }}">
{% extends 'base.html' %}

{% block header %}
{% block title %}Overview{% endblock %}
{% endblock %}

{% block content %}
<div class="flex-tables">
    <div class="describe_tables">
        <div class="describe">
            <div class="section_title">Numeric</div>
            <div>{{ described_numeric }}</div>
        </div>
        <div class="describe">
            <div class="section_title">Categorical</div>
        </div>
        <div class="describe_unused">
            <div class="section_title">Unused Columns</div>
        </div>
    </div>

    <div class="head">
        <div class="section_title">First 5 rows of data (transposed)</div>
        <div>{{ head }}</div>
    </div>

</div>
<div class="pairplot">
    <div class="section_title">Pairplot of Features</div>
    <div>{{ pairplot }}</div>
</div>
{% endblock %}
