/* Tables */

table {
    border-collapse: collapse;
    border: 0px solid black;
    color: var(--table-text);
    font-size: 13px;
    width: 100%;
}

th {
    border: 0px solid black;
    text-align: right;
    font-weight: bold;
}

thead th {
    border-width: 0px 0px 1px 0px;
    border-color: black;
    text-align: center;
}

td {
    border: 0px solid black;
    text-align: right;
    padding: 4px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ebd5d1;
}

.flex-tables {
    display: flex;
    flex-direction: column;
}

.flex-tables > div {
    padding-bottom: 16px;
    margin-bottom: 12px;
}

.describe_tables {
    display: flex;
    flex-direction: row;
}

.describe_tables div {
    margin-right: 8px;
}

.head {
    width: 100%;
}

.describe {
    width: 45%;
}

.describe_unused {
    width: 10%;
}

.section_title {
    font-size: 1.1em;
    color: black;
    margin-bottom: 16px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--light-gray);
}

.pairplot {
    width: 100%;
}

.pairplot_img img {
    width: 100%;
}
