<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ base_css }}">
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"
        crossorigin="anonymous"></script>
</head>
<body>

    <div class="main">
        <div class="menu">
            <div>{% block header %}{% endblock %}</div>
            <div><a href="{{ overview_file }}">Overview</a></div>
            <div><a href="{{ features_file }}">Features</a></div>
            <div><a href="{{ models_file }}">Models</a></div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            {{ created_on }}
        </div>
    </div>
</body>
