<link rel="stylesheet" href="{{ features_css }}">
{% extends 'base.html' %}

{% block header %}
{% block title %}Features{% endblock %}
{% endblock %}

{% block content %}
<div class="burger-menu">
    <div class="burger-button">&#9776;</div>
    <div class="chosen-feature">{{ chosen_feature }}</div>
</div>
<div class="features-menu">{{ features_menu }}</div>

<div class="submenu">Chosen Feature Information</div>
<div class="submenu-content">
    <div class="submenu-content-wrapper">
        <div class="infogrid-stats">
            <div class="subtitle">Summary Statistics</div>
            <div class="infogrid-stats-content">{{ infogrid_summary }}</div>
        </div>
    </div>
</div>
<div class="submenu">Transformed Feature Information</div>
<div class="submenu-content">
    <div class="submenu-content-wrapper">
        <div class="transformed-feature-grid">
            <!-- <div class="subtitle">Transformed Feature - Fitted to train but showing test split</div> -->
            <div>{{ transformed_feature }}</div>
        </div>
    </div>
</div>

<div class="submenu">Feature Correlations</div>
<div class="submenu-content">
    <div class="submenu-content-wrapper">
        <div class="subtitle">Correlations Between Features (Original/QuantileTransformed)</div>
        <div>{{ infogrid_correlations }}</div>
    </div>
</div>

<div class="submenu">Hued Scatter Plots</div>
<div class="submenu-content">
    <div class="submenu-content-wrapper">{{ scatter_plot_grid }}</div>
</div>



<div>{{ bokeh_script_infogrid_summary }}</div>
<div>{{ bokeh_script_scatter_plot_grid }}</div>
<div>{{ bokeh_script_infogrid_correlations }}</div>
<div>{{ bokeh_script_normal_transformations_plots }}</div>
<script src="{{ features_js }}"></script>
{% endblock %}

