.flex-tables {
    display: flex;
    flex-direction: column;
}

.flex-tables > div {
    padding-bottom: 16px;
    margin-bottom: 12px;
}

.describe_tables {
    display: flex;
    flex-direction: row;
}

.describe_tables div {
    margin-right: 8px;
}

.head {
    width: 100%;
}

.describe {
    width: 45%;
}

.describe_unused {
    width: 10%;
}

.section_title {
    font-size: 1.1em;
    color: black;
    margin-bottom: 16px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--light-gray);
}

.pairplot {
    width: 100%;
}

.pairplot_img img {
    width: 100%;
}
