/* base color: #19529c */

:root {
    --base-color: #19529c;
    --contrary-color: #9c2b19;
    --normal-text-color: #8C8C8C;
    --normal-link-color: #8CA8CD;
    --hover-link-color: white;
    --background-link-color: #5E85B9;
    --settings-link-color: #c6d4e6;
    --gray-title: #808080;
    --light-gray: #DCDCDC;
    --table-text: #3d3d3d;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    background: white;
    padding: 8px;
}

.main {
    max-width: 95%;
    margin: 0 auto;
    color: var(--normal-text-color);
    background: white;
    border-width: 2px 2px 2px 2px;
    border-color: #D1DCEB;
    border-style: solid;
    box-shadow: -4px 4px 2px #E8EDF5;
    overflow: auto;
}

/* Navigation Menu Bar */

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--background-link-color);
    font-size: 1.5em;
    padding: 0px 5px;
    background: #FCFCFC;
}

.menu div {
    border: 0px solid black;
    margin: 0px 0px;
}

.menu div:first-child {
    margin-right: auto; /* moves the element to the left */
    font-size: 2em;
    color: var(--base-color);
    padding: 4px;
    font-weight: bold;
}

.menu div:not(:first-child):hover {
    background: var(--background-link-color);
    border-radius: 6px;
}

.menu a {
    color: var(--normal-link-color);
    text-decoration: none;
    padding: 4px 4px;
}

.menu a:visited {
    color: var(--normal-link-color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--hover-link-color);
}

/* Content */

.content {
    padding: 12px 18px;
    margin-bottom: 16px;
    width: 100%;
}

/* Tables */

table {
    border-collapse: collapse;
    border: 0px solid black;
    color: var(--table-text);
    font-size: 13px;
    width: 100%;
}

th {
    border: 0px solid black;
    text-align: right;
    font-weight: bold;
}

thead th {
    border-width: 0px 0px 1px 0px;
    border-color: black;
    text-align: center;
}

td {
    border: 0px solid black;
    text-align: right;
    padding: 4px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ebd5d1;
}

/* Description box */


tbody tr th p {
    position: relative;
    display: inline;
}

tbody tr th p span {
    position: absolute;
    display:none;
    background: #EEEEEE;
    border: 1px solid var(--gray-title);
    font-size: 0.8em;
    color: var(--table-text);
    margin: 12px;
    padding: 8px;
    right: -100px;
    top: -10px;
    max-width: 120px;
    z-index: 2;
    font-weight: normal;
/*
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;

    text-align: center;
    top: -80px;
    left:-30px;

    padding:0 20px;
*/
}

tbody th p:hover span {
    display: block;
}

/*
tbody th tr p span:after {
    content:'';
    position:absolute;

    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);

}

/* Footer */

.footer {
    color: var(--gray-title);
    font-weight: italic;
    font-size: 0.75em;
    padding: 4px 4px;
    text-align: right;
}
